body {
    background-color: #e0e0e0;
    margin: 2px;
}

div.content {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 50em;
  background-color: #ffffff;
  text-align: left;
}

div.message {
    /* border-bottom: 1px solid #ddd; */
    /* margin-bottom: 1ex; */
    margin-bottom: 0.4ex;
}

span.message-sender {
    font-style: italic;
    font-size: small;
    color: green;
}

span.message-text {
    margin-left: 1ex;
}

div.conversations, div.menu {
    border-bottom: 1px solid black;
/*    margin-bottom: 5px; */
    text-align: left;
    padding: 4px;
    padding-bottom: 8px;
    padding-top: 8px;
}

span.conversation, span.menu {
    border: 1px solid #aaa;
    background: #faf8e8;
    color: blue;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1ex;
    padding-right: 1ex;
    cursor: pointer;
    margin-right: 1em;
    font-weight: bold;
}

div.send_msg {
    padding: 2px;
    text-align: center;
}

input#send_msg_text {
    margin-bottom: 4px;
}

div.status-bar {
    font-style: italic;
    font-size: small;
    background: #eee;
    border-top: 1px solid black;
}

div#status-bar-1 {
    width: 50%;
    float: left;
    border-right: 1px solid #aaa;
    margin-right: 1ex;
    padding-left: 1ex;
}

div#status-bar-2 {
}
