body {
    background-color: #e0e0e0;
    margin: 2px;
}

div.content {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 100%;
  max-width: 50em;
  background-color: #ffffff;
  text-align: left;
}

div.inner-content {
    text-align: center;
}

div.messages {
    margin: 3px;
    max-height: 60ex;
    border: 1px solid #888;
    overflow-y: scroll;
    text-align: left;
}

div.message {
    /* border-bottom: 1px solid #ddd; */
    /* margin-bottom: 1ex; */
    margin-bottom: 0.4ex;
}

span.message-sender {
    font-style: italic;
    font-size: small;
    color: green;
}

span.message-text {
    margin-left: 1ex;
}

table.main-menu {
    margin: 0;
    border: 0;
}

div.main-menu {
    border-bottom: 1px solid black;
/*    margin-bottom: 5px; */
    text-align: left;
    padding: 0px;
}

div.conversations {
    border-bottom: 1px solid black;
/*    margin-bottom: 5px; */
    text-align: left;
    padding: 5px;
}

span.purple-button {
	-moz-box-shadow: 0px 5px 7px -3px #276873;
	-webkit-box-shadow: 0px 5px 7px -3px #276873;
	box-shadow: 0px 5px 7px -3px #276873;
	background-color:#599bb3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	/*font-size:20px;*/
	font-weight:bold;
	/*padding:6px 12px;*/
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-left: 1ex;
    margin-right: 1ex;
}

.purple-button:hover {
	background-color:#408c99;
}

.purple-button:active {
	position:relative;
	top:1px;
}

span.purple-button-disabled {
	-moz-box-shadow: 0px 5px 7px -3px #ccc;
	-webkit-box-shadow: 0px 5px 7px -3px #ccc;
	box-shadow: 0px 5px 7px -3px #ccc;
	background-color:#ccc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#eeeeee;
	font-family:Arial;
	/*font-size:20px;*/
	font-weight:bold;
	/*padding:6px 12px;*/
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ccc;
    margin-left: 1ex;
    margin-right: 1ex;
}

span.purple-small-button {
	-moz-box-shadow: 0px 2px 3px -1px #276873;
	-webkit-box-shadow: 0px 2px 3px -1px #276873;
	box-shadow: 0px 5px 7px -3px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:80%;
	font-weight:bold;
	/*padding:6px 12px;*/
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-left: 1ex;
    margin-right: 1ex;
}

.purple-small-button:hover {
	background-color:#408c99;
}

.purple-small-button:active {
	position:relative;
	top:1px;
}

/* :fixme: probably not used anymore */
span.conversation, span.menu {
    border: 1px solid #aaa;
    background: #faf8e8;
    color: blue;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1ex;
    padding-right: 1ex;
    cursor: pointer;
    margin-left: 1ex;
    margin-right: 1ex;
    font-weight: bold;
}

/*
.conv-title {
    font-weight: bold;
    font-family:Arial;
    font-size: 105%;
    color: #105269;
    border-bottom: 2px solid #105269;
}
*/

.conv-title {
	-moz-box-shadow: 2px 5px 7px -3px #276873;
	-webkit-box-shadow: 2px 5px 7px -3px #276873;
	box-shadow: 2px 5px 7px -3px #276873;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#105269;
	font-family:Arial;
	font-weight:bold;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
        border-width: 1px;
        border-style: solid;
        border-color: #276873;
	margin-left: 1ex;
	margin-right: 1ex;
}

div.send_msg {
    padding: 2px;
    text-align: center;
}

input#send_msg_text {
    margin-bottom: 4px;
}

div.status-bar {
    font-style: italic;
    font-size: small;
    background: #eee;
    border-top: 1px solid black;
}

div#status-bar-1 {
    width: 50%;
    float: left;
    border-right: 1px solid #aaa;
    margin-right: 1ex;
    padding-left: 1ex;
}

div#status-bar-2 {
}

.buddy-online {
    color: green;
}

.buddy-offline {
    color: #333;
}

span.info-msg {
    /*border: 1px solid black;*/
    display: inline-block;
    padding: 4px 2em;
    margin: 2em;
    color: #105269;
    background-color: #e0e0e0;
	font-family:Arial;
    font-size: 105%;
}

span.error-msg {
    /*border: 1px solid black;*/
    display: inline-block;
    padding: 4px 2em;
    margin: 2em;
    color: #555269;
    background-color: #e0e0e0;
	font-family:Arial;
    font-size: 105%;
}

hr.buddy {
    height: 1px;
    color: #eee;
    background-color: #eee;
    border: 0;
    width: 80%;
}

span.buddy-name {
    margin-right: 6px;
}
