body {
    background-color: #a5a5a5;
    /*font-size: 32pt;*/
}

div.messages {
    max-height: 65ex;
}


input#send-msg-text {
    width: 40rem;
}

/*
div.conversations {
    padding-top: 0.1rem;
}
*/

@media (max-width: 1000px) {
    html
    {
        font-size: 32pt;
    }
    body
    {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    div.messages {
        max-height: 42ex;
    }
    input#send-msg-text {
        width: 20rem;
    }
}


div.content {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 100%;
  max-width: 50em;
  background-color: #ffffff;
  text-align: left;
}

div.inner-content {
    text-align: center;
    background-color: #e9e9e9;
}

div.messages {
    -moz-box-shadow: 0px 5px 5px -3px #276873;
    -webkit-box-shadow: 0px 5px 5px -3px #276873;
    box-shadow: 0px 5px 5px -3px #276873;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    margin: 7px;
    border: 1px solid #888;
    overflow-y: scroll;
    text-align: left;

    background-color: #fff;
}

div.message {
    /* border-bottom: 1px solid #ddd; */
    /* margin-bottom: 1ex; */
    margin-bottom: 0.4ex;
}

span.message-sender {
    font-style: italic;
    font-size: 90%;
    color: green;
}

span.message-text {
    margin-left: 1ex;
}

table.main-menu {
    margin: 0;
    border: 0;
}

div.main-menu {
    border-bottom: 1px solid black;
/*    margin-bottom: 5px; */
    text-align: left;
    padding: 0px;
    background-color: #ccc;
}

div.center-menu {
    width: 18rem;
    text-align: center;
    margin: auto;
}

div.conversations {
/*    border-bottom: 1px solid black;*/
/*    margin-bottom: 5px; */
    text-align: left;
    padding-top: 0.25rem;
}

span.purple-button {
	-moz-box-shadow: 0px 5px 7px -3px #276873;
	-webkit-box-shadow: 0px 5px 7px -3px #276873;
	box-shadow: 0px 5px 7px -3px #276873;
	background-color:#599bb3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size: 1.1rem;
	font-family:Arial;
	/*font-size:20px;*/
	font-weight:bold;
	/*padding:6px 12px;*/
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
        margin-left: 0.2ex;
        margin-right: 0.2ex;
        margin-top: 2px;
        margin-bottom: 10px;
}

.purple-button:hover {
	background-color:#408c99;
}

.purple-button:active {
	position:relative;
	top:1px;
}

span.purple-button-disabled {
	-moz-box-shadow: 0px 5px 7px -3px #ccc;
	-webkit-box-shadow: 0px 5px 7px -3px #ccc;
	box-shadow: 0px 5px 7px -3px #ccc;
	background-color:#ccc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#eeeeee;
	font-size: 1.1rem;
	font-family:Arial;
	/*font-size:20px;*/
	font-weight:bold;
	/*padding:6px 12px;*/
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ccc;
        margin-left: 0.2ex;
        margin-right: 0.2ex;
        margin-top: 2px;
        margin-bottom: 10px;
}

span.purple-small-button {
	-moz-box-shadow: 0px 2px 3px -1px #276873;
	-webkit-box-shadow: 0px 2px 3px -1px #276873;
	box-shadow: 0px 5px 7px -3px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:80%;
	font-weight:bold;
	/*padding:6px 12px;*/
	padding:2px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
    margin-left: 1ex;
    margin-right: 1ex;
}

.purple-small-button:hover {
	background-color:#408c99;
}

.purple-small-button:active {
	position:relative;
	top:1px;
}


div.purple-button-menu-item {
	-moz-box-shadow: 0px 5px 7px -3px #276873;
	-webkit-box-shadow: 0px 5px 7px -3px #276873;
	box-shadow: 0px 5px 7px -3px #276873;
	background-color:#599bb3;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	/*display:inline-block;*/
	cursor:pointer;
	color:#ffffff;
	/*font-size: 1.1rem;*/
	/*font-family:Arial;*/
	/*font-size:20px;*/
	/*font-weight:bold;*/
	/*padding:6px 12px;*/
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
        text-align: center;
        margin-left: 0.2ex;
        margin-right: 0.2ex;
        margin-top: 2px;
        margin-bottom: 1rem;
}

.purple-button-menu-item:hover {
	background-color:#408c99;
}

/* :fixme: probably not used anymore */
span.conversation, span.menu {
    border: 1px solid #aaa;
    background: #faf8e8;
    color: blue;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1ex;
    padding-right: 1ex;
    cursor: pointer;
    margin-left: 1ex;
    margin-right: 1ex;
    font-weight: bold;
}

/*
.conv-title {
    font-weight: bold;
    font-family:Arial;
    font-size: 105%;
    color: #105269;
    border-bottom: 2px solid #105269;
}
*/

.conv-title {
	-moz-box-shadow: 2px 5px 7px -3px #276873;
	-webkit-box-shadow: 2px 5px 7px -3px #276873;
	box-shadow: 2px 5px 7px -3px #276873;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#105269;
	font-size: 1.1rem;
	/*font-family:Arial;*/
	/*font-weight:bold;*/
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
        border-width: 1px;
        border-style: solid;
        border-color: #276873;
	margin-left: 1ex;
	margin-right: 1ex;
}

.send-msg {
    font-size: 1rem;
}

div.send-msg {
    padding: 2px;
    text-align: center;
    background-color: #e9e9e9;
}

input#send-msg-text {
    margin-bottom: 4px;
}

#send-msg-button {
    border-width: 3px;
    color:#105269;
    font-weight: bold;
}

div.status-bar {
    font-size: 1rem;
    font-style: italic;
    font-size: small;
    background: #eee;
    border-top: 1px solid black;
}

div#status-bar-1 {
    font-size: 1rem;
    width: 50%;
    float: left;
    border-right: 1px solid #aaa;
    margin-right: 1ex;
    padding-left: 1ex;
}

div#status-bar-2 {
    font-size: 1rem;
}

.buddy-online {
    color: green;
}

.buddy-offline {
    color: #333;
}

span.info-msg {
    /*border: 1px solid black;*/
    display: inline-block;
    padding: 4px 2em;
    margin: 2em;
    color: #105269;
    background-color: #e0e0e0;
	font-family:Arial;
    font-size: 105%;
}

span.error-msg {
    /*border: 1px solid black;*/
    display: inline-block;
    padding: 4px 2em;
    margin: 2em;
    color: #555269;
    background-color: #e0e0e0;
	font-family:Arial;
    font-size: 105%;
}

hr.buddy {
    height: 1px;
    color: #eee;
    background-color: #eee;
    border: 0;
    width: 80%;
}

span.buddy-name {
    margin-right: 6px;
}
